:root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.grid {
  margin: 0px 100px;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

@media (max-width: 1440px) {
  :root {
    max-width: 1280px;
  }
  .grid {
    margin: 0px 20px;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
  }
}

@media (max-width: 1280px) {
  :root {
    max-width: 768px;
  }
  .grid {
    margin: 0px 20px;
    max-width: 728px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
  }
}

@media (max-width: 768px) {
  :root {
    max-width: 320px;
  }
  .grid {
    margin: 0px 20px;
    max-width: 280px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
}
