.searchInfo {
  text-align: start;
  grid-column: span 4;
  max-height: 260px;
  color: var(--color-primary);
}

.searchHeader {
  font-weight: 500;
}

.searchText {
  color: var(--secondary-gray);
}

.loading {
  color: var(--color-primary);
}

.errorMesage {
  color: var(--color-primary);
  grid-column: span 4;
  text-align: start;
}
